/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16-oct-2016, 23:08:42
    Author     : Rodrigo Serrano | Etic
*/

@font-face 
{
    font-family: 'Apex-New';
    src:  url('../fonts/ApexNew-Medium_0.woff') format('woff');
}
@font-face 
{
    font-family: 'Apex-Book';
    src:  url('../fonts/ApexNew-Book_0.woff') format('woff');
}

a
{
    font-family: Tahoma,Verdana,Segoe,sans-serif!important;
}
p
{
    font-size: 16px;
    font-family: Tahoma,Verdana,Segoe,sans-serif!important;

    /* line-height: 24px;*/
}
h1, h2, h3, h4, h5, h6
{
    font-family: 'Apex-New', sans-serif!important;
}
li
{
    font-size: 16px;
}

.no-desktop
{
    display: none;
}
.no-desktop-special-home
{
    display: none;
}
.no-show
{
    display: none;   
}
header
{
    padding-top: 10px;
    min-height: 82px;
    width: 100%;
    background-color: #fff;
    overflow: hidden;
}
header.sticky {
    transition: all 0.4s ease;
    position: fixed;
    z-index: 11;
}

#icon-user
{
    position: absolute;
    top: 22px;
}

#menu-top
{
    list-style: none;
    margin-top: 24px;
    float: right;
    margin-bottom: 0px;
}
#menu-top li
{
    display: inline-block;
    margin-right: 2px;
    margin-left: 2px;

}
#menu-top li a
{
    text-transform: uppercase;
    font-size: 15px;
    color: #004B85;
    display: inline-block;
    margin-top: 3px;
    font-family: Tahoma,Verdana,Segoe,sans-serif !important;
}

#menu-movil
{
    display: none;
}
#btn-menu-movil
{
    display: none;
}
#menu-top-movil
{
    list-style: none;
    width: 100%;
    margin-left: -40px;
    text-align: left;
    margin-top: 15px;
}
#menu-top-movil li
{
    /*border-top: 1px solid #005590;*/
    padding-top: 6px;
    padding-bottom: 6px;
}
.sub-sn
{
    list-style: none;
}
.sub-sn li
{
    border-top: 0px solid #005590!important;
}

.space-text-menu
{
    padding-left: 78px;
}
.space-text-menu-two
{
    padding-left: 86px!important;
}
/*sub-menu*/
#content-menu-sec
{
    position: fixed;
    z-index: 2;
    margin: 0 auto;
    width: 100%;
}
.space-sticky
{
    margin-top: 84px!important;
}
#sobre-nosaltres-sub
{
    padding-top: 30px;
    padding-bottom: 30px;
}
.sub-menu-items-content 
{
    min-height: 193px;
}
.sub-menu-head
{
    background-color: #fff!important;
    width: 100%;
    display: none;
    margin-top: 1px;
}
.sub-menu-head a
{
    color: #004B85;
    font-size: 20px;
    font-family: 'Apex-Book', sans-serif !important;
}
.sub-menu-head  a:hover
{
    color: #EB281A;
}
.img-tranport img
{
    margin-left: 18px;
    margin-top: 36px;
}
.col-blue-sub
{
    background-color: #EAEEF1;
    display: none;
}
.padd-sub-menu
{
    padding: 30px 30px 30px 30px;
}
.selector-sub
{
    pointer-events: none;
    cursor: pointer;
}
.active-sub
{
    border-bottom: 3px solid red;
    padding-bottom: 20px;
}
#transport-sub
{
    background-color: #fff; 
}
.content-img-menu-sec
{
    padding-left: 40px;
}

/*sub-menu*/

#owl-demo .item img
{
    width: 100%;
}

#options-slide-home-bottom
{
    background-image: url(../img/home/options-fondo.png);
    background-size: cover;
    min-height: 156px;
    width: 100%;
}
#slider-home-movil
{
    background-image: url(../img/home/slider-home-movil.png);
    background-size: cover;
    min-height: 156px;
    width: 100%;
}
.padd-options-slide-info
{
    padding-top: 10px;
    padding-bottom: 10px;
}
.padd-options-slide-info h1
{
    margin-top: 10px;
}
.info-one
{
    background-color: rgba(255, 255, 255, 0.1);
}
.info-one h1
{
    font-size: 24px;
    color: #fff;
}
.info-one p
{
    font-size: 14px;
    color: #fff;
}
.icon-world
{
    margin-top: -10px;
    float: right;
}
#form-option-home select
{
    background-color: transparent!important;
    border-radius: 0px;
    border: 1px solid #fff;
    width: 100%;
    margin-top: 30px;
    height: 40px;
    color: #fff;
}
#form-option-home option
{
    background-color: transparent!important;
    color: #0B60A9!important;
}
.select-home-style
{
    border: 1px solid #ccc;
    background: URL(../img/home/icn-arrow-down.png);
    background-repeat: no-repeat;
    background-position: center right;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-position-x: 218px;
}
.info-two
{
    border-left: 1px solid #fff;
    margin-top: 20px;

    min-height: 126px;
}
.info-two h1
{
    font-size: 20px;
    color: #fff;
}
.info-two p
{
    font-size: 14px;
    color: #fff;
}

#content-transport
{
    background-image: url(../img/home/fondo-transport.png);
    background-size: cover;
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: #fff;
}
.item-transport
{
    border: 1px solid #D6D6D6;
    padding: 30px 20px 13px 30px;
    margin-bottom: 20px;
    min-height: 235px;
    position: relative;
}
.item-transport h1
{
    margin-top: 0px;
    font-weight: bold;
    color: #436379;
    font-size: 18px;
}
.item-transport p
{
    color: #2C363D;
    font-size: 13px;
    margin-top: 20px;
}
.icon-transport
{
    float: right;
    margin-right: -14px;
    margin-top: -20px;
}
.more-info-transport
{
    background-color: #D9D9D7;
    border-radius: 2px;
    text-align: center;
    color: #436379;
    font-size: 14px;
    border: 0px;
    width: 143px;
    height: 30px;
    margin-top: 20px;
    position: absolute;
    right: 14px;
    bottom: 16px; 
}
.height-small
{
    min-height: 200px;
}
.title-info-transport
{
    position: relative;
    min-height: 454px;
}
.title-info-transport h1
{
    font-size: 44px;
    color: #436379;
}
.content-info-member
{
    width: 100%;
    position: absolute;
    bottom: 0;
}
.content-info-member p
{
    font-weight: bold;
    color: #000;
    font-size: 14px;
    text-align: right;
}
.content-info-member img
{
    float: right;
}

.divider-green
{
    width: 100%;
    height: 60px;
    background-color: #4F6478;
}

#logistic
{
    background-image: url(../img/home/fondo-logist.png);
    background-size: cover;
    background-color: #27477B;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
}

.item-logistic
{
    width: 100%;
    padding: 20px 20px 20px 20px;
    background-color: rgba(255,255,255, 0.1);
    -webkit-box-shadow: 0px 1px 8px 2px rgba(0,0,0,0.26);
    -moz-box-shadow: 0px 1px 8px 2px rgba(0,0,0,0.26);
    box-shadow: 0px 1px 8px 2px rgba(0,0,0,0.26);
    margin-bottom: 40px;
}
.item-cont-logist h1
{
    color: #fff;
    font-size: 36px;
    margin-bottom: 26px;
}
.info-right-logistic
{
    padding-right: 50px;
}
.info-right-logistic h2
{
    color: #fff;
    font-size: 18px;
    margin-top: 0px;
}
.info-right-logistic p
{
    font-size: 13px;
    color: #fff;
}
.info-disclaimer
{
    position: relative;
    min-height: 190px;
}
.info-disclaimer p
{
    font-style: italic;
    font-size: 14px;
    color: #91AFC6;
    width: 260px;
    float: right;
}
.blue-btn
{
    background-color: #1D5E9E;
    color: #fff;
    font-size: 14px;
}
.ad-disclaimer img
{
    margin-left: -20px;
}


#solicitud-presupuesto
{
    /*background-image: url(../img/home/background-press.png);
    background-size: 100% auto;*/
    min-height: 700px;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
    position: relative;
}
#fondo-sp
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: -1;
}
.fragil-line
{
    margin-top: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #E8EAEC;
    margin-bottom: 60px;
}

.enviar-pres
{
    width: 300px!important;
    height: 44px;
    background-color: #F4F6F8;
    border: 0px;
    text-align: left;
    padding-left: 20px;
}

#d
{
    background-image: url(../img/home/background-press.png);
    background-repeat: no-repeat;
    background-size: 50px 50px;
}

#solicitar-presupuesto-form .contourNavigation input[type=submit]
{
    width: 270px!important;
    height: 44px;
    background-color: #F4F6F8;
    border: 0px;
    text-align: left;
    padding-left: 20px;
    text-transform: uppercase;
}

#solicitar-presupuesto-form input
{
    border-radius: 0px;
    border: 2px solid #F4F7F9; 
    height: 48px;
}
#solicitar-presupuesto-form .text
{
    width: 100%;
    border-radius: 0px;
    border: 2px solid #F4F7F9; 
    height: 48px;
}

.largoencm
{
    width: 33.3333%;
    float: left;
    text-align: right;
}

.alto
{
    width: 33.3333%;
    float: left;
    text-align: center;
}
.alto label
{
    float: left;
    margin-left: 6px;
}

.ancho
{
    width: 33.3333%;
    float: left;
    text-align: left;
}

.largoencm .text
{
    width: 90%!important;
}
.largoencm label
{
    float: left;
    margin-left: 12px;
}

.alto .text
{
    width: 90%!important;
}

.ancho .text
{
    width: 90%!important;
}

.contourField div
{
    padding-bottom: 10px;
}
.radio-inline input
{
    height: auto!important;
}
.fragil div
{
    border-bottom: 1px solid #000;
}


#solicitar-presupuesto-form h1
{
    margin-bottom: 30px;
    font-family: 'Apex-New', sans-serif!important;
}
#solicitar-presupuesto-form h1
{
    margin-bottom: 30px;
    font-family: 'Apex-New', sans-serif!important;
}
#solicitar-presupuesto-form .contourPageName
{
    margin-bottom: 30px!important;
    font-family: 'Apex-New', sans-serif!important;
    font-size: 48px;
    color: #004B85;
    padding-left: 15px;
    padding-right: 15px;
}

#solicitar-presupuesto-form p
{
    color: #436379;
    font-family: 'Apex-New', sans-serif!important;
}
#solicitar-presupuesto-form label
{
    color: #3F4755;
    font-family: 'Apex-New', sans-serif!important;
    font-size: 16px;
    font-weight: bold;
}
.title-form
{
    font-size: 48px;
    color: #004B85;
}

.singlechoice
{
    width: 100%;
    float: left;
    min-height: 120px;
}
.radiobuttonlist br
{
    display: none;
}
.radiobuttonlist label
{
    width: 28px;
    height: 40px;
    margin-top: -22px;
    padding-bottom: 2px;
    position: relative;
    vertical-align: middle;
}

#testimoniales
{
    background-image: url(../img/home/test-fondop.jpg);
    background-size: cover;
    background-color: #F2F4F6;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
}
.title-test
{
    margin-bottom: 60px;
    color: #1D5E9E;
    font-size: 48px;
}
.comilla-test
{
    margin-bottom: 0px;
}
.avatar-testimonial
{
    float: left;
}
.padd-test-cero
{
    padding-left: 0px!important;
    padding-right: 0px!important;
}
.space-test
{
    padding-left: 20px;    
    font-family: Tahoma,Verdana,Segoe,sans-serif!important;
    font-size: 18px;
    color: #4A697D;
    font-style: italic;
}
.divider-test
{
    margin-top: 40px;
    margin-bottom: 60px;
}
.divider-test hr
{
    height: 1px;
    background-color: #fff;
}

.item-test-info h1
{
    font-size: 32px;
    font-weight: bold;
    color: #1D5E9E;
}
.item-test-info p
{
    font-size: 16px;
    color: #436379;
}

#last-news
{
    background-image: url(../img/home/news-fondo.png);
    background-size: cover;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #fff;
}
#last-news h1
{
    font-size: 48px;
    color: #1D5E9E;
    margin-bottom: 60px;
}

.text-news h2
{
    font-weight: bold;
    font-size: 18px;
}
.text-news p
{
    color: #436479;
    font-size: 14px;
}
.link-news-bottom
{
    font-size: 18px;
    font-weight: 400;
    color: #436579;
}

.img-news img
{
    width: 100%;
}
.item-news
{
    position: relative;
    min-height: 452px;
}
.link-news-bottom
{
    position: absolute;
    right: 0;
    bottom: 6px;
}

.more-info-news 
{
    background-color: #0B60A9;
    border-radius: 2px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    border: 0px;
    width: 176px;
    height: 30px;
    margin-top: 20px;
    position: absolute;
    right: 14px;
    top: 0;
}

#contact
{
    background-color: #436479;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
}
#contact h1
{
    color: #fff;
    text-align: left;
    font-size: 48px;

}

#form-contact-footer .form-control
{
    background-color: #436479;
    height: 53px;
    border: 0px solid #fff;
    border-radius: 0px;
    color: #698395;
    padding-left: 20px;
    font-size: 20px; 
    border: 2px solid #698395;
}
#form-contact-footer .text
{
    width: 100%;
    background-color: #436479;
    height: 53px;
    border: 0px solid #fff;
    border-radius: 0px;
    color: #839AA9;
    padding-left: 20px;
    font-size: 20px; 
    border: 2px solid #698395;
}

#form-contact-footer .text::-webkit-input-placeholder {
    color:  #839AA9!important;
    font-size: 20px;
}

#form-contact-footer .text:-moz-placeholder { /* Firefox 18- */
    color:  #839AA9!important; 
    font-size: 20px;
}

#form-contact-footer .text::-moz-placeholder {  /* Firefox 19+ */
    color: #839AA9!important;  
    font-size: 20px;
}

#form-contact-footer .text:-ms-input-placeholder {  
    color: #839AA9!important;
    font-size: 20px;
}
#form-contact-footer textarea:-ms-input-placeholder {  
    color: #839AA9!important;
    font-size: 20px;
}

.form-control::-webkit-input-placeholder {
    color:  #839AA9!important;
    font-size: 20px;
}

.form-control:-moz-placeholder { /* Firefox 18- */
    color:  #839AA9!important; 
    font-size: 20px;
}

.form-control::-moz-placeholder {  /* Firefox 19+ */
    color: #839AA9!important;  
    font-size: 20px;
}

.form-control:-ms-input-placeholder {  
    color: #839AA9!important;
    font-size: 20px;
}

#form-contact-footer .text-area
{
    background-color: #436479;
    height: 160px;
    border: 2px solid #698395
}
#form-contact-footer .contourField textarea
{
    background-color: #436479;
    height: 160px;
    border: 2px solid #698395;
    color: #839AA9;
    width: 100%;
    padding-left: 20px;
    font-size: 20px;
}

#enviar-contact
{
    width: 100%;
    height: 53px;
    background-color: #fff;
    border: 0px solid #fff;
    border-radius: 0px;
    background-image: url(../img/home/btn-contact-enviar.png);
    background-repeat: no-repeat;
    background-size: 37px 26px;
    background-position: center right;
    text-align: left;
    margin-top: 20px;
    font-size: 20px;
    color: #365F7B;
    padding-left: 20px;
    background-position-x: 98%;
}
#form-contact-footer input[type=submit]
{
    width: 100%;
    height: 53px;
    background-color: #fff;
    border: 0px solid #fff;
    border-radius: 0px;
    background-image: url(../img/home/btn-contact-enviar.png);
    background-repeat: no-repeat;
    background-size: 37px 26px;
    background-position: center right;
    text-align: left;
    margin-top: 20px;
    font-size: 20px;
    color: #365F7B;
    padding-left: 20px;
    background-position-x: 98%;
    text-transform: uppercase;
}
.item-dir-contact
{
    margin-bottom: 50px;
}
.item-dir-contact h1
{
    font-size: 24px!important;
    margin-bottom: 12px;
    color: #DCEBF6!important;
    font-family: Tahoma,Verdana,Segoe,sans-serif!important;
}
.item-dir-contact p
{
    color: #A1B1BC;
    font-size: 18px;
    font-family: Tahoma,Verdana,Segoe,sans-serif!important;
}
.icons-footer
{
    margin-top: 40px;
}
.content-link-redes
{
    width: 200px;
    float: right;
}
.text-footer-linkedin
{
    width: 140px;
    float: left;
    color: #fff;
}
.text-footer-linkedin p
{
    font-size: 12px;
}
.icon-linkedin
{
    width: 60px;
    float: right;
}

#menu-inferior
{
    background-color: #004B85;
    width: 100%;
    height: 82px;
    text-align: center;
    padding-top: 30px;
}
#menu-inferior ul  
{
    list-style: none;
    margin-left: -40px;
}
#menu-inferior ul  li
{
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 18px;
    color: #fff;
}
#menu-inferior ul  li a
{
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 18px;
    color: #fff;
}
.title-movil-transport-home
{
    display: none;
}
#distribucion-list
{
    background-image: url(../img/home/news-fondo.png);
    background-size: 100% auto;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #EBEFF2;
    width: 100%;
}
#distribucion-list h1
{
    font-size: 34px;
    color: #416479;
}

/*contacto*/
#head-contact
{
    background-color: #005691;
    width: 100%;
    height: 86px;
    color: #fff;
}
#content-contact
{
    background-image: url(../img/contact/news-back.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-color: #EBEFF2;
    width: 100%;
    min-height: 500px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.item-map
{
    background-color: #fff;
    width: 100%;
    height: 350px;
}
.item-map h1
{
    font-size: 28px;
    color: #416479;
    margin-top: 0px;
    margin-bottom: 20px;
}
.item-map h2
{
    font-size: 16px;
    color: #416479;
    margin-top: 0px;
    margin-bottom: 16px;
}
.item-map p b
{
    font-size: 16px;
    color: #3A404D;
}
.text-map
{
    padding: 50px 50px 50px 50px;
}
.padd-right-cero
{
    padding-right: 0px!important;
    padding-bottom: 0px!important;
}
#content-more-info
{
    width: 100%;
    background-color: #416479;
    height: 128px;
    margin-top: -4px;
    padding: 30px 30px 30px 30px;

}
#content-more-info p
{
    margin-top: 11px;
    font-size: 28px;
    color: #fff;

}
.more-info-contact
{
    float: right;
    background-color: #fff;
    width: 273px;
    height: 46px;
    border-radius: 0px;
    border: 0px solid #fff;
    color: #3F6479;
    margin-top: -48px;
    margin-right: 0px;
    font-weight: bold;
}
.more-info-faqs
{
    width: 273px;
    background-color: #436479;
    color: #fff;
    font-size: 14px;
    height: 46px;
    border-radius: 0px;
    float: right;
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 20px;
}
#content-faqs .more-info-faqs
{
    width: 273px;
    background-color: #436479;
    color: #fff;
    font-size: 16px;
    height: 46px;
    border-radius: 0px;
    float: right;
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 20px;
    font-family: Tahoma,Verdana,Segoe,sans-serif!important;
}

#content-faqs
{
    padding-top: 60px;
    padding-bottom: 60px;
}

.icon-download-faqs
{
    position: absolute;
    right: 15px;
    top: 14px;
}
.icon-download-faqs-ta
{
    position: absolute;
    right: 15px;
    top: 14px;
}
.item-faqs
{
    background-color: #fff;
    padding: 30px 15px 30px 16px;
    margin-bottom: 1px;
}
.item-faqs h2
{
    color: #416479;
    font-size: 28px;
    margin-bottom: 20px;
}
.item-faqs p
{
    font-family: Tahoma,Verdana,Segoe,sans-serif!important;
}
/*contact*/

/*sobre nosaltres*/
#head-sobre-nosaltres
{
    background-color: #005691;
    position: relative;
    padding-top: 60px;
    padding-bottom: 60px;
}
#head-sobre-nosaltres h1
{
    font-size: 48px;
    color: #fff;
    margin-bottom: 26px;
    margin-top: 0px;

}
#head-sobre-nosaltres p
{
    font-size: 28px;
    color: #80ABC8;
    font-family: 'Apex-New', sans-serif!important;
}
.more-info-nosaltres
{
    width: 216px;
    background-color: #436479;
    color: #fff;
    font-size: 16px;
    height: 46px;
    border-radius: 0px;
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
    position: absolute;
    top: 0;
    right: 0;
    font-family: Tahoma,Verdana,Segoe,sans-serif!important;
}
.btn-qs
{
    position: absolute!important;
}
.btn
{
    position: relative;
}
.btn:hover
{
    color: #fff;
    text-decoration: underline;
}

#content-text-nosaltres
{
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #fff;
}
#content-text-nosaltres p
{
    font-size: 16px;
    color: #212121;
}
.date-nosaltres
{
    font-size: 24px!important;
    color: #365F7B!important;
}
.item-nosaltres-text
{
    min-height: 192px;
}

#head-sobre-nosaltres-inf
{
    background-color: #005691;
    position: relative;
    padding-top: 40px;
    padding-bottom: 30px;
}
#head-sobre-nosaltres-inf h1
{
    font-size: 48px;
    color: #fff;
    margin-bottom: 26px;
    margin-top: 0px;

}
.more-info-nosaltres-inf
{
    width: 216px;
    background-color: #436479;
    color: #fff;
    font-size: 14px;
    height: 46px;
    border-radius: 0px;
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
    position: absolute;
    top: 10px;
    right: 0;
}
#head-infraestructura
{
    background-image: url(../img/nosaltres/banner-infrastructure.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 486px;
}
#head-infraestructura h1
{
    text-align: right;
    margin-top: 167px;
    font-size: 34px;
    color: #416479;
}

#infraestructura-info-content
{
    padding-top: 60px;
    padding-bottom: 60px;
}
.item-infraestructura 
{
    margin-bottom: 40px;
}
.item-infraestructura h2
{
    font-size: 24px;
    color: #436479;
    margin-bottom: 20px;
}
.item-infraestructura p
{
    font-size: 16px;
    color: #212121;
}
.image-infraestructura
{
    margin-top: 20px;
    margin-bottom: 60px;
}
.image-infraestructura img
{
    width: 100%;
}

#content-team
{
    padding-top: 60px;
    padding-bottom: 60px;
}
.item-team
{
    min-height: 390px;
}
.image-team img
{
    width: 100%;
}
.info-team
{
    padding-top: 20px;
    padding-bottom: 20px;
}
.info-team p
{
    font-size: 16px;
}

#head-sobre-nosaltres-c {
    background-color: #005691;
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
}
#head-sobre-nosaltres-c h1 {
    font-size: 48px;
    color: #fff;
    margin-bottom: 20px;
    margin-top: 0px;
}
#head-sobre-nosaltres-c p {
    font-size: 28px;
    color: #80ABC8;
    font-family: 'Apex-New', sans-serif!important;
}
#culture-content
{
    padding-top: 60px;
    padding-bottom: 60px;
}
#culture-content p
{
    font-size: 16px;
}
#culture-content ul 
{
    list-style-image: url('../img/nosaltres/bullet.png');
    line-height: 26px;
    font-size: 16px;
}
#culture-content ul li
{
    padding-left: 20px;
    color: #436479;
    font-family: Tahoma,Verdana,Segoe,sans-serif!important;
}
.nosaltres-news
{
    min-height: 420px!important;
    background-color: #fff;
    border-radius: 8px;
    margin-bottom: 30px;
}
.nosaltres-news .text-news
{

    padding: 10px 30px 30px 30px;
}
.nosaltres-news .text-news h2
{
    font-size: 16px!important;
}

.back-blue-light
{
    background-color: #EBEFF2!important;
}

.nosaltres-news .link-news-bottom 
{
    position: absolute;
    right: 0;
    bottom: 16px;

}
.nosaltres-news .link-news-bottom a
{
    color:#42657B!important;
    font-size: 16px!important;
    font-weight: bold;
}
.nosaltres-news .img-news img
{
    margin-top: -6px;
}
#return-all
{
    width: 100%;
    height: 100px;
    border-bottom: 1px solid #EBEFF2;
}
#return-all p a
{
    font-size: 18px;
}
#return-all p
{
    margin-top: 35px;
}
#content-new-view
{
    padding-top: 60px;
    padding-bottom: 60px;
}
.date-new-view
{
    font-size: 16px;
    color: #436479;
}
.title-new-view
{
    font-size: 34px;
    color: #436479;
    margin-bottom: 40px;
}
.content-new-info
{
    padding-top: 40px;
    padding-bottom: 40px;
}
.image-new-view
{
    width: 100%;
}
.text-new-view
{
    padding-left: 60px;
}
.text-new-view p
{
    font-size: 16px;
    color: #212121;
    font-family: Tahoma,Verdana,Segoe,sans-serif!important;
}
/*sobre nosaltres*/

/*transport*/
.custom-head-transport h1
{
    margin-bottom: 10px!important;
}
#banner-transport img
{
    width: 100%;
}
#info-tranport
{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #fff;
    width: 100%;
}
.info-left-tranport p
{
    font-size: 28px;
    color: #416479;
}
#info-tranport .info-right-transport p
{
    font-size: 16px;
    color: #212121;
}
.space-top-pq
{
    padding-top: 7px;
}
#galery-transport
{
    background-image: url(../img/contact/news-back.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #EBEFF2;
    padding-top: 60px;
    padding-bottom: 60px;
    width: 100%;
}
.item-galery-transport
{
    width: 33.33333333%;
    float: left;
    background-color: #fff;
}
.img-item-transport img
{
    width: 100%;
}
.item-info-galery-transport
{
    padding: 20px 20px 20px 20px;
    min-height: 153px;
}
.item-info-galery-transport h1
{
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: bold;
    color: #212121;
}
.item-info-galery-transport p a
{
    font-size: 16px;
    color: #212121;
}
.item-info-galery-transport h1 a
{
    font-size: 16px;
    color: #212121;
}
.icon-link-galery-transport
{
    float: right;

}


#content-menu-transport
{
    width: 100%;
    height: 46px;
    position: absolute;
    bottom: -50px;
}
.option-menu-transport
{
    width: 170px;
    background-color: #436479;
    height: 46px;
    float: left;
    margin-right: 1px;
    padding: 12px 5px 10px 5px;
    text-align: center;
}
.option-menu-transport a
{
    color: #fff;
    font-size: 16px;
}
.bullets-spcials
{
    list-style-image: url('../img/nosaltres/bullet.png');
    line-height: 26px;
    font-size: 16px;
    margin-left: -20px;
    margin-top: 20px;
}
.bullets-spcials li
{
    padding-left: 20px;
    color: #436479;
    font-family: Tahoma,Verdana,Segoe,sans-serif!important;
}

#info-general-transport-tn
{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #fff;
    width: 100%;
}
#info-general-transport-tn p
{
    font-size: 16px;
    color: #212121;

    font-family: Tahoma,Verdana,Segoe,sans-serif!important;
}
.custom-head-transport-tc h1
{
    margin-bottom: 20px!important;
}
.log-tranpo-inf-gen
{
    float: right;
    margin-top: 40px;
}
.dttn
{
    width: 291px!important;
}

.back-blue-light-int
{
    background-color: #EBEFF2!important;
    padding-top: 60px!important;
    padding-bottom: 60px!important;
}
.back-white-light-int
{
    background-color: #fff!important;
    padding-top: 60px!important;
    padding-bottom: 60px!important;
}

.tranport-bellears h1
{
    margin-top: 0px;
    font-size: 34px;
    color: #416479;
}
.map-image-int-ttn
{
    width: 100%;
    margin-top: 60px;
}
.content-text-left-ttn
{
    max-width: 600px;
    float: right;
    padding-top: 80px;
}

.content-text-left-ttn p
{
    font-size: 16px;

    font-family: Tahoma,Verdana,Segoe,sans-serif!important;
}
.map-image-int-ttc {
    width: 100%;
    margin-top: 130px;
}
#banner-ttn img
{
    width: 100%;
}
.transport-paqueteria h1
{
    font-size: 34px;
    color: #416479;
    margin-bottom: 30px;
}
.transport-paqueteria p
{
    font-size: 16px;
    color: #212121;
    font-family: Tahoma,Verdana,Segoe,sans-serif!important;
}
.border-tab-right
{
    border-right: 1px solid #fff;
}
.tablev1
{
    background-color: #fff;
    width: 33%;
    float: left;
}
.tablev1 thead th
{
    background-color: #40647A;
    color: #fff;
    font-size: 16px;
    text-align: center;
    height: 60px;
    border-bottom: 0px solid #ddd!important; 
    vertical-align: middle!important; 
}
.tablev1 tbody tr td
{
    padding: 10px 10px 10px 30px;
    border-top: 0px;
    font-family: Tahoma,Verdana,Segoe,sans-serif!important;
    font-weight: 200;
}
.tablev1 span
{
    font-size: 14px;
    color: #212121;
    font-family: Tahoma,Verdana,Segoe,sans-serif!important;
    font-weight: 300;
}
.tablev1 td
{
    font-size: 14px;
    color: #436479;
    font-weight: bold;
}
.table-grid-ttn
{
    /* background-color: #fff;*/
    width: 100%;
}
.table-grid-ttn .tablev1
{
    margin-right: 2px;
}
.blue
{
    background-color: #EBEFF2!important;   
}
.blue .tablev1 
{
    background-color: #EBEFF2!important;   
}
.bluef .tablev1 
{
    background-color: #EBEFF2!important;   
}

#bottom-info-ttn h1
{
    font-size: 34px;
    color: #416479;
    margin-bottom: 20px;
}

#transport-content-tti
{
    /*background-image: url(../img/transport/back-tti.png);
    background-repeat: no-repeat;
    background-size: 338px 468px;
    background-position: right top;*/
    background-color: #fff;
    width: 100%;
    padding-top: 90px;
    padding-bottom: 60px;
    position: relative;
}
#fondo-tti
{
    position: absolute;
    right: 0;
    top: 0;
}
.more-info-tti {
    /* width: 273px; */
    background-color: #436479;
    color: #fff;
    font-size: 14px;
    height: 46px;
    border-radius: 0px;
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 20px;
    margin-left: 15px;
    position: relative;
}
.btn-tti1
{
    width: 212px;
}
.btn-tti2
{
    width: 166px;
}
.btn-tti3
{
    width: 170px;
}
.more-info-tm {
    /* width: 273px; */
    background-color: #436479;
    color: #fff;
    font-size: 14px;
    height: 46px;
    border-radius: 0px;
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 20px;
    margin-left: 15px;
    position: relative;
}
.more-info-tta {
    width: 170px;
    background-color: #436479;
    color: #fff;
    font-size: 14px;
    height: 46px;
    border-radius: 0px;
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 20px;
    margin-left: 15px;
    position: relative;
}
.style-text-descarga-tti
{
    color: #416479;
    font-size: 24px;
}
.content-descarga-tti
{
    margin-top: 120px;
}
.content-descarga-tti p
{
    width: 200px;
    margin-top: 23px;
    float: left;
}

.content-descarga-tta p
{
    width: 200px;
    margin-top: 23px;
    float: left;
}
.content-text-ttip
{
    margin-bottom: 80px;
}
#transport-pais-info .map-image-int-ttn
{
    margin-top: 0px;
    width: auto;
}
#transport-pais-info .content-text-left-ttn
{
    padding-top: 0px;
}
#transport-pais-info .tablev1
{
    width: 100%;
}
.sub-head-tablev1 
{
    background-color: #8EA2AF!important;
    height: 40px!important;
}
.sub-head-tablev1 td
{
    color: #fff!important;
    font-size: 16px;
}
.slim-celda
{
    height: 30px;

}
.slim-celda-title
{
    border-bottom: 1px solid #fff;

}
.slim-celda-title td
{
    font-weight: 400;
    font-size: 16px;
    padding-top: 6px;
    padding-bottom: 6px;
}
.slim-celda-title-light 
{
    color: #8EA2AF!important;
}
/*transport*/
.slim-celda td
{
    height: 30px;
    padding: 6px 6px 6px 30px!important;
    vertical-align:middle;
}
.bold-celd
{
    font-weight: bold!important;
    font-size: 16px!important;
}


#transport-content-tm 
{
    /*  background-image: url(../img/transport/back-tm.png);
      background-repeat: no-repeat;
      background-size: 466px 448px;
      background-position: right top;*/
    background-color: #fff;
    width: 100%;
    padding-top: 90px;
    padding-bottom: 60px;
    position: relative;
}
#fondo-tm
{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;

}
.border-top-tm
{
    border-top: 1px solid #EBEFF2;
    padding-top: 40px;
    padding-bottom: 60px;
}
#footer-tm img
{
    width: 100%;
}


#transport-content-ta {
    /* background-image: url(../img/transport/back-ta.png);
     background-repeat: no-repeat;
     background-size: 555px 403px;
     background-position: right top;*/
    background-color: #fff;
    width: 100%;
    padding-top: 90px;
    padding-bottom: 60px;
    position: relative;
}
#fondo-ta
{
    position: absolute;
    top: 0;
    right: 0;
}
.more-info-faqs 
{
    width: 170px;
    background-color: #436479;
    color: #fff;
    font-size: 16px;
    height: 46px;
    border-radius: 0px;
    float: left;
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 20px;
    font-family: Tahoma,Verdana,Segoe,sans-serif!important;
}
.more-info-faqs:hover
{
    color: #fff;
    text-decoration: underline;
}
.btn-tm1
{
    width: 231px;
}
.btn-tm2
{
    width: 291px;
}
/*transport*/

/*logistic*/
#info-tranport h3
{
    font-size: 24px;
    color: #416479;
}
#logistic-item-footer .item-info-galery-transport 
{
    padding: 20px 20px 20px 20px;
    min-height: 86px;
}
#content-dis
{
    background-image: url(../img/contact/news-back.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #EBEFF2;
    padding-top: 60px;
    padding-bottom: 60px;
    width: 100%;
}
#content-dis h1
{
    font-size: 34px;
    color: #416479;
}
/*logistic*/


/*productes*/
#productes .item-info-galery-transport 
{
    padding: 20px 20px 20px 20px;
    min-height:104px;
}
/*productes*/

/*menu movil*/
#clik-menu-movil
{
    display: none;
}
/*menu movil*/


/*media querys*/
@media (max-width: 1194px) {
    .item-transport 
    {
        border: 1px solid #D6D6D6;
        padding: 30px 20px 13px 30px;
        margin-bottom: 20px;
        min-height: 270px;
        position: relative;
    }

    header {
        text-align: center;
    }
    #clik-menu-movil
    {
        display: block;
    }
    #btn-menu-movil
    {
        display: block;
        position: absolute;
        left: 0;
        top: 18px;
        cursor: pointer;
    }
    #menu-top
    {
        display: none;
    }
    #main-menu-1194
    {
        width: 100%;
    }
}

@media (max-width: 1024px) {

    /*home*/
    .no-movil
    {
        display: none!important;
    }
    .item-transport {
        border: 1px solid #D6D6D6;
        padding: 30px 20px 13px 30px;
        margin-bottom: 20px;
        min-height: 281px;
        position: relative;
    }
    .height-small {
        min-height: 228px;
    }
    .title-info-transport h1 {
        font-size: 32px;
        color: #436379;
    }
    .space-test br
    {
        display: none;
    }
    /*home*/
}
@media (max-width: 986px) {

    /*home*/
    #solicitud-presupuesto {
        background-image: none;
        background-size: cover;
        min-height: 700px;
        width: 100%;
        padding-top: 60px;
        padding-bottom: 60px;
    }
    #fondo-sp
    {
        display: none;
    }
    #solicitar-presupuesto-form
    {
        max-width: 350px;
        margin: 0 auto;
    }
    /*home*/
}
@media (max-width: 900px) {

    /*home*/
    .item-transport {
        border: 1px solid #D6D6D6;
        padding: 30px 20px 13px 30px;
        margin-bottom: 20px;
        min-height: 340px;
        position: relative;
    }
    .content-info-member {
        width: 100%;
        position: relative;
        bottom: -200px;
    }
    /*home*/
}

@media (max-width: 768px) {

    /*home*/
    .info-one {
        background-color: rgba(255, 255, 255, 0.0);
    }
    .form-option-home
    {
        background-color: rgba(255, 255, 255, 0.1);
        padding-top: 10px;
        padding-bottom: 20px;;
    }
    .item-transport {
        border: 1px solid #D6D6D6;
        padding: 30px 20px 13px 30px;
        margin-bottom: 20px;
        min-height: 340px;
        position: relative;
    }
    .content-info-member {
        width: 100%;
        position: relative;
        bottom: -200px;
    }
    .title-info-transport
    {
        display: none;
    }
    .item-logo-logistic 
    {
        text-align: center;
        min-height: 170px;
    }
    .item-logo-logistic img
    {
        width: 130px;
    }
    #options-slide-home-bottom {
        background-image: url(../img/home/news-fondo.png);
        background-size: cover;
        background-position: left center;
        background-color: #004b85;
        min-height: 156px;
        width: 100%;
    }
    .select-home-style {
        border: 1px solid #ccc;
        background: URL(../img/home/icn-arrow-down.png);
        background-repeat: no-repeat;
        background-position: center right;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        background-position-x: right;
        padding-right: 48px;
    }
    .info-two {
        border-left: 0px solid #336f9d;
        border-top: 1px solid #336f9d;
        margin-top: 20px;
        min-height: 126px;
    }


    #content-transport {

        background-image: none;
        padding-top: 48px;
        padding-bottom: 48px;
    }

    .item-transport p 
    {
        color: #2C363D;
        font-size: 13px;
        margin-top: 0px;
    }
    .item-transport 
    {
        border: 1px solid #D6D6D6;
        padding: 30px 20px 13px 88px;
        margin-bottom: 20px;
        min-height: 232px;
        position: relative;
    }
    .icon-transport 
    {
        float: right;
        margin-right: -14px;
        margin-top: -20px;
        position: absolute;
        left: 18px;
        top: 50px;
    }
    .title-movil-transport-home
    {
        display: block;
        padding-left: 40px;
        margin-top: 0px;
        margin-bottom: 20px;
    }
    .title-movil-transport-home h1
    {
        font-size: 28px;
        color: #436479;
    }

    #logistic {
        background-image: url(../img/home/fondo-logist.png);
        background-size: cover;
        background-color: #27477B;
        width: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .ad-disclaimer
    {
        display: none;
    }
    .info-disclaimer {
        position: relative;
        min-height: 60px;
    }
    .info-disclaimer p
    {
        display: none;
    }

    #solicitud-presupuesto 
    {
        background-image: none;
        background-size: cover;
        min-height: 700px;
        width: 100%;
        padding-top: 30px;
        padding-bottom: 60px;
    }

    .line-divider-testimonials
    {
        height: 1px;
        width: 100%;
        background-color: #000;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .no-desktop
    {
        display: block;
    }
    .more-info-news 
    {
        background-color: #85afd4;
        margin-top: 36px;
        position: relative;
    }
    .item-news 
    {
        margin-top: 30px;
    }
    #form-contact-footer .form-control 
    {
        background-color: #436479;
    }
    #contact
    {
        position: relative;
    }
    .item-dir-contact 
    {
        margin-top: 50px;
        padding-left: 56px;
    }
    .content-link-redes 
    {
        width: 200px;
        float: left;
        margin-left: -15px;
    }
    .logo-footer-movil
    {
        float: left;
        margin-left: 10px;
    }
    .space-logos-movil 
    {
        padding-left: 70px;
    }
    .icon-linkedin 
    {
        width: 60px;
        float: left;
    }
    #menu-inferior 
    {
        background-color: #004B85;
        width: 100%;
        min-height: 150px;
        text-align: center;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    #menu-inferior ul li 
    {
        width: 100%; 
        height: 32px;
    }
    .no-movil-f
    {
        display: none!important;
    }
    .no-movil-768
    {
        display: none;   
    }
    #contatent-text-movil
    {
        background-color: #EAEEF1;
        width: 100%; 
        position: relative;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .qs-sub-title
    {
        font-size: 24px!important;
        color: #fff!important;
    }
    #head-sobre-nosaltres 
    {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    /*home*/

    /*nosaltres*/
    .item-nosaltres-text 
    {
        min-height: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .btn-qs
    {
        position: relative!important;
        margin-top: 20px;
        margin-bottom: 20px;               
    }



    #head-sobre-nosaltres-inf 
    {
        padding-top: 20px;
        padding-bottom: 3px;
    }
    #head-sobre-nosaltres-inf h1 
    {
        font-size: 32px;
    }
    #head-infraestructura 
    {
        background-image: url(../img/nosaltres/banner-infrastructure.png);
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        min-height: 350px;
        background-color: #EAEEF1;
    }
    #head-infraestructura h1 
    {
        position: absolute;
        bottom: 30px;
        left: 30px;
        font-size: 24px;
        text-align: left;
    }
    #infraestructura-info-content 
    {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .item-team 
    {
        min-height: 140px;
    }
    .image-team img 
    {
        width: 113px;
        float: left;
        margin-right: 20px;
    }
    .info-team 
    {
        padding-top: 0px;
    }

    #head-sobre-nosaltres-c h1 
    {
        font-size: 36px;
    }
    #head-sobre-nosaltres-c p 
    {
        font-size: 23px;
    }
    #head-sobre-nosaltres-c 
    {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    #content-new-view 
    {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    #last-news 
    {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .text-new-view 
    {
        padding-top: 40px;
        padding-left: 20px;
    }
    .item-galery-transport 
    {
        width: 100%;
        float: left;

    }
    #info-tranport 
    {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .info-left-tranport p
    {
        font-size: 24px;
        margin-bottom: 30px;
    }

    #galery-transport 
    {
        padding-top: 40px;
        padding-bottom: 40px;
        width: 100%;
    }

    #head-sobre-nosaltres-c h1 
    {
        font-size: 36px;
    }
    .option-menu-transport 
    {
        width: 136px;
        background-color: #436479;
        height: 46px;
        float: left;
        margin-right: 1px;
        padding: 12px 5px 10px 5px;
        text-align: center;
    }
    .custom-head-transport-tc h1 {
        margin-bottom: 0px !important;
    }

    #content-menu-transport 
    {
        width: 100%;
        height: 46px;
        position: absolute;
        bottom: -76px;
        z-index: 1;
    }
    #btn-more-ttn-sub
    {
        position: absolute;
        right: 0px;
        cursor: pointer;
    }
    .menu-sub-tranport
    {
        display: none;
        position: absolute;
        top: 50px;
    }
    .text-center-movil
    {
        text-align: center;
    }
    .img-movil-ttn
    {
        float: none!important;
        width: 261px;
    }
    .log-tranpo-inf-gen 
    {
        float: none!important;
        margin-top: 20px;
    }
    .map-image-int-ttn 
    {
        width: 261px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .map-image-int-ttc
    {
        margin-top: 30px;
        width: 299px;
    }
    .tranport-bellears h1 
    {
        font-size: 24px;
    }
    .content-text-left-ttn 
    {
        max-width: 600px;
        float: right;
        padding-top: 20px;
    }
    .tablev1 {
        width: 100%;
        margin-bottom: 0px;
    }
    /*noslatres*/



    /*contacto*/
    #content-contact
    {
        padding-top: 7px;    
    }

    #content-contact .padd-right-cero 
    {
        padding-right: 0px!important;
        padding-bottom: 0px!important;
        padding-left: 0px!important;
        padding-top: 0px!important;
        margin-top: -20px;
    }
    .item-map 
    {
        margin-top: -6px;
    }
    .item-map-movil
    {
        width: 100%;
        min-height: 350px;

    }
    .pad-mov-contact
    {
        padding: 15px 30px 30px 30px;
    }
    #content-more-info 
    {
        width: 100%;
        background-color: #416479;
        height: 200px;
        margin-top: -4px;
        padding: 30px 30px 30px 30px;
    }
    #content-more-info p 
    {
        font-size: 24px;
    }

    .more-info-contact 
    {      
        width: 100%;
        height: 46px;   
        margin-top: 20px;
    }

    #content-faqs .more-info-faqs 
    {
        width: 100%;
        text-align: center;
    }
    #content-faqs .text-aling-left-m
    {
        text-align: left !important;
    }
    #content-contact .container
    {
        width: 100%!important;
        padding-left: 0px!important;
        padding-right: 0px!important;    
    }
    #content-contact .col-xs-12
    {
        width: 100%!important;
        padding-left: 0px!important;
        padding-right: 0px!important;    
    }

    /*contacto*/

    /*transport*/
    #transport-content-tti 
    {
        background-image: none;
    }
    .more-info-tti 
    {
        width: 100%;
        background-color: #436479;
        color: #fff;
        font-size: 14px;
        height: 46px;
        border-radius: 0px;
        text-align: left;
        padding-left: 15px;
        padding-right: 15px;
        margin-top: 20px;
        margin-left: 0px;
        position: relative;
    }
    .content-descarga-tti 
    {
        margin-top: 40px;
    }
    .height-ttip-movil
    {
        min-height: 120px;
    }
    #transport-pais-info .map-image-int-ttn 
    {
        margin-top: 20px;
        width: 134px;
    }
    #transport-content-tm {
        background-image: none;
        padding-bottom: 30px;
    }
    .image-movil-tm
    {
        margin-top: 30px;
    }
    .tmp-img
    {
        width: 190px!important;
    }
    .back-white-light-int 
    {
        padding-top: 40px !important;
        padding-bottom: 0px !important;
    }

    #transport-content-ta {
        background-image: none;
        padding-bottom: 20px;
    }

    .movil-menu-ta .option-menu-transport 
    {
        width: 155px;
    }

    .content-descarga-tta p {
        width: 100%;
        margin-top: 23px;
        float: left;
    }
    .more-info-tta 
    {
        width: 100%;
        margin-left: 0px;
        position: relative;
    }
    /*transport*/

    /*products*/
    .space-gal-mov-pq
    {
        margin-top: 120px;
    }
    /*products*/


    /*logistic*/
    #distribucion-list
    {
        background-image: none;
        padding-top: 20px;
        padding-bottom: 40px;
    }
    #distribucion-list h1 
    {
        font-size: 24px;
    }
    /*logistic*/

    .content-info-member 
    {
        width: 100%;
        position: relative;
        bottom: 0px;
        margin-top: 20px;
    }
    .content-info-member p
    {
        text-align: left;
        width: 340px;
        margin: 0 auto;
    }
    .content-info-member img 
    {
        float: right;
        width: 180px;
    }
    .divider-green
    {
        display: none;
    }
    .item-faqs 
    {
        padding: 30px 30px 30px 30px;
    }
    .text-map 
    {
        padding: 50px 0px 0px 0px;
    }
    #content-faqs 
    {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    #content-contact 
    {
        padding-bottom: 0px;
    }
    .transport-paqueteria h1 
    {
        font-size: 24px;
    }
    .slim-celda td 
    {

        padding: 6px 6px 6px 6px !important;


    }
    .table-ttip
    {
        background-color: #EBEFF2!important;
    }
    #content-tab-movil-ttip
    {
        width: 100%;
        background-color: #fff;
        padding-bottom: 60px;
    }
    .head-tap
    {
        height: auto!important;
        padding-bottom: 10px;
    }
}

@media (max-width: 468px) {
    .item-info-galery-transport 
    {
        min-height: 80px;
    }
    .no-movil-468
    {
        display: none;
    }
    .no-desktop-special-home
    {
        display: inline-block;
    }
    .image-team
    {
        width: 30%;
        float: left;
    }
    .image-team img
    {
        width: 90%;
    }
    .info-team 
    {
        width: 70%;
        float: left;
    }

    .info-team p 
    {
        font-size: 14px;
    }

    .option-menu-transport {
        width: auto;
    }

    #content-menu-transport 
    {
        position: relative;
    }
}